<nav class="navbar navbar-expand-lg " style="background-color:white;" >
      
       
       
    <ul class="navbar-nav">

     

      <li class="nav-item active" id="matter">
        <a class="nav-link" href="#"> Home loan <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active" id="matter">
        <a class="nav-link" href="#"> Home Finder <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active" id="matter">
        <a class="nav-link" href="#"> Eligibility <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active" id="matter">
        <a class="nav-link" href="#"> Apply Now <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active" id="matter">
        <a class="nav-link" href="#">Pmay <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active" id="matter">
        <a class="nav-link" href="#">Trackmyloan <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active" id="matter">
        <a class="nav-link" href="#"> EMI Calculator <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active" id="matter">
        <a class="nav-link" href="#"> More <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item active" id="matter">
        <a class="nav-link" href="#"  style="background-color: black; color: white;" > Apply Now <span class="sr-only">(current)</span></a>
      </li>
       
      
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     
  </nav>  
