<div style="background-color:red; height: 576px;">
  
    <div id="title">
      <p>  Type Of Home Loans </p> 
    </div>
      <hr style="background-color: white;   height: 1px;" width="100%">
    
    <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
    
       
    
      <div class="carousel-inner v-2" role="listbox">
    
    <!-- first slide -->
    
    
     
    
     
    
    
        <div class="carousel-item active" style="height: 400px; width: 1100px;margin-left: 130px; " >
          <div class="col-12 col-md-4" style="float: right;   ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://wallpapercave.com/wp/wp2406723.jpg"
                alt="Card image cap">
               
              <div class="card-body" style="height: 250px;">
                <h4 class="card-title font-weight-bold">Home Extension loan</h4>
                <p class="card-text">A home extension loan can be availed by someone who wishes. These loans can be availed for up to 90% of the construction estimate for a maximum term of up to 20 years.</p>
                <a class="btn   btn-md btn-rounded" (click)="overview()">Know More</a>
              </div>
     
            </div>
          </div>
    
          <div class="col-12 col-md-4" style="float: right; ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://i.pinimg.com/originals/25/aa/99/25aa990a00c6fc659f7548d644c1e7ed.png"
                alt="Card image cap">
               
              <div class="card-body"  style="height: 250px;">
                <h4 class="card-title font-weight-bold">Home Improvement Loan</h4>
                <p class="card-text">Any individual can apply for a home extension loan from a bank or finance    loan from the same lender as an additional facility to existing loan.</p>
                <a class="btn   btn-md btn-rounded">Know More</a>
              </div>
     
            </div>
          </div>
    
    
          <div class="col-12 col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://images.alphacoders.com/435/thumb-1920-435117.jpg"
                alt="Card image cap">
               
              <div class="card-body" style="height: 250px;">
                <h4 class="card-title font-weight-bold">Home construction Loan</h4>
                <p class="card-text">A construction loan (also known as a “self-build loan") is a short-term  relatively risky, construction loans u  rates than traditional mortgage loans.</p>
                <a class="btn   btn-md btn-rounded">Know More</a>
              </div>
     
            </div>
          </div>
    
    
    
        </div>
    
    
      
    <!-- end of first slide -->
    <!-- second slide -->
    
     
    
        <div class="carousel-item" style="height: 400px; width: 1100px;margin-left: 130px; ">
    
          <div class="col-12 col-md-4" style="float: right;">
            <div class="card mb-2">
              <img class="card-img-top" src="https://wallpaperaccess.com/full/774028.jpg"
                alt="Card image cap">
               
              <div class="card-body" style="height: 250px;">
                <h4 class="card-title font-weight-bold">Plot Loan</h4>
                <p class="card-text">Plot loans starting from as low as @8.90% of interest. Lowest EMI. Service. Get Funded Within 24 Hour. Longer Repayment Tenure. Hassle Free EMIs.</p>
                <a class="btn   btn-md btn-rounded">Know More</a>
              </div>
     
            </div>
          </div>
    
          <div class="col-12 col-md-4" style="float: right;">
            <div class="card mb-2">
              <img class="card-img-top" src="https://wallpaperaccess.com/full/508827.jpg"
                alt="Card image cap">
               
              <div class="card-body" style="height: 250px;">
                <h4 class="card-title font-weight-bold">Apartment Loan</h4>
                <p class="card-text"> If you are looking for a loan for apartment purchase,  loan is a loan  house or an apartment/flat. Here are some tips on how to successfully apply for a loan for an apartment.</p>
                <a class="btn   btn-md btn-rounded">Know More</a>
              </div>
     
            </div>
          </div>
    
    
    
          <div class="col-12 col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://www.lg.com/us/experience-tvs/oled-tv/oled-vs-4k/images/oledvs4k-feat1.png"
                alt="Card image cap">
              <div class="card-body" style="height: 250px;">
                <h4 class="card-title font-weight-bold">Home Furniture Loan</h4>
                <p class="card-text">A personal loan is an amortized loan,  f at the end of the loan. That's not true with credit cards, and not true for most no-interest furniture loans</p>
                <a class="btn   btn-md btn-rounded">Know More</a>
              </div>
            </div>
          </div>
    
    
        </div>
    
       
    <!-- end of second slide -->
         </div>
    
      </div>
    
    
    
    
      
      
    
    
     
    
    
     
    <div id="indi">
      <!--Controls-->
      <div class="controls-top"   >
        <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i
            class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i
            class="fas fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->
    
      <!-- Indicators -->
      <ol class="carousel-indicators"  >
        <li data-target="#carousel-example-multi" data-slide-to="0" style="background-color: white;"  class="active"></li>
        <li data-target="#carousel-example-multi" data-slide-to="1" style="background-color: white;" class="active"></li>
        <!-- <li data-target="#carousel-example-multi" data-slide-to="2"></li>
        <li data-target="#carousel-example-multi" data-slide-to="3"></li>
        <li data-target="#carousel-example-multi" data-slide-to="4"></li>
        <li data-target="#carousel-example-multi" data-slide-to="5"></li> -->
      </ol>
      <!--/.Indicators-->
    </div>
     
    
    </div>
    
             <!-- <img src="https://wallpaperaccess.com/full/1316663.jpg" class="d-block w-100" alt="..."> -->
             
            <!-- <div class="carousel-item">
              <img src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&w=1000&q=80" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://ak5.picdn.net/shutterstock/videos/1026691415/thumb/1.jpg?ip=x480" class="d-block w-100"  >
            </div>
            <div class="carousel-item">
              <img src="https://c4.wallpaperflare.com/wallpaper/508/394/533/golden-temple-amritsar-punjab-india-wallpaper-preview.jpg" class="d-block w-100"  >
            </div>
            <div class="carousel-item">
              <img src="https://c0.wallpaperflare.com/preview/347/627/786/5be99614d0027.jpg" class="d-block w-100"  >
            </div> -->
    
            <!-- <div class="carousel-item active"   >
    
              <div class="col-md-4" >
                <div class="card mb-2">
                  <img class="card-img-top"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">one</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn  ">Know More</a>
                  </div>
                </div>
              </div> -->
